<section
    class="w-full box-border stark-content mt-[var(--header-height)] px-[var(--sidebar-width)]">
    <div class="box-border w-full px-80px" id="draftContent">
        {{html.safe(content)}}
    </div>
</section>