<div
    class="header h-[var(--header-height)] w-full fixed z-50 top-0 left-0 flex justify-center items-center border-b-transparent border-b-1px border-b-solid">
    <nav>
        <div class="w-[var(--content-width)] flex justify-center items-center">

            <P class="text-26px font-bold">Stark Dev</P>
            <div class="flex-1"></div>
            <p>Github</p>
        </div>
    </nav>
</div>